@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');

/* font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 500px;
  margin: 0 auto;
}
.btn {
padding: 10px 30px; 
margin: 50px 10px;
background-color: #3B7833;
border: solid 2px #222;
border-radius: 10px;
cursor: pointer;
color: white;
font-size: 30px;
text-decoration: none;
letter-spacing: 1px;
-webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0,0,0,.12);
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0,0,0,.12);
-webkit-transition: .3s;
transition: .3s;
outline: none;
}

.btn.remove {
  background-color:#E95912;
}

.btn.clear {
  background-color: #E30A15;
}

.btn:hover {
  background-color: #fff;
  color: #333;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 500px;
  font-size: 25px;
  list-style: none;
}

.list-element {
margin: 10px;
-ms-flex-preferred-size: 45%;
    flex-basis: 45%;
padding: 40px 30px;
background-color: #ddd;
border-radius: 10px;
-webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0,0,0,.12);
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0,0,0,.12);
font-size: 18px;
text-align: center;
-webkit-transition: .2s;
transition: .2s;
}

.list-element:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
